[Unit]
Description=Gunicorn Video Stream Server
After=network.target

[Service]
# Update User to the actual system user (using workspace username)
User=furkanblt
Group=www-data
WorkingDirectory=/home/furkanblt/Documents/Transmind/Transmind-PI
# Use the TM virtualenv's gunicorn installed in the repo (adjust if you use a different venv)
ExecStart=/home/furkanblt/Documents/Transmind/Transmind-PI/TM/bin/gunicorn --worker-class gevent --workers 1 --bind 0.0.0.0:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
